.msg-body{
    font-size: 14px;
}
.dropdown-menu a{
    color: black;
    font-size: 14px!important;
}
.dropdown-item{
    font-size: 12px!important;
}
.dropdown-item, .tag{
    font-size: 14px;
}

#status{
    cursor: pointer;
}
.navbar{
    border-radius: 0px!important;
}

.kv-editable-popover{
    display: none;
}